body {
  font-family: Montserrat, sans-serif;
  background-color: #fff;
  color: #1f1f1f;
  font-size: .925rem;
}

section {
  width: 100%;
  height: 100vh;
}

#solar-panels {

  background: url("../img/Desktop-SolarPanels.jpeg?") center / cover no-repeat fixed;
}

#model-s {

  background: url("../img/Desktop-ModelS.jpeg") center / cover no-repeat fixed;
}

#model-3 {

  background: url("/assets/img/Desktop-Model3.jpeg") center / cover no-repeat fixed;
}

#model-x {

  background: url("../img/Desktop-ModelX.jpeg") center / cover no-repeat fixed;
}

#model-y {

  background: url("../img/Desktop-ModelY.jpeg") center / cover no-repeat fixed;
}

#solar-roof {

  background: url("../img/Desktop-SolarRoof.jpeg?") center / cover no-repeat fixed;
}

#access {

  background: url("../img/Desktop-Accessories.jpeg") center / cover no-repeat fixed;
}

.nav-item {
  font-size: .925rem;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-left {
  border-radius: 25px;
  text-transform: uppercase;
  font-size: .825rem;
  background: rgba(36, 38, 44, 0.86);
  color: #fff;
  padding: .68rem 0;
  border: none;
}
.btn-last {
  border-radius: 25px;
  text-transform: uppercase;
  font-size: .825rem;
  background: rgba(36, 38, 44, 0.86);
  color: #fff;
  padding: .6em 5em; 
  border: none;
}

.btn-right {
  border-radius: 25px;
  text-transform: uppercase;
  font-size: .825rem;
  background: rgba(173, 171, 173, 0.39);
  padding: .68rem 0;
  border: none;
}

.btn-arrow {
  background: rgba(0, 98, 204, 0);
  border: none;
  margin-top: .5rem;
}

.arrow-icon {
  font-size: 1.95rem;
}

.head-h {
  font-weight: 600;
  text-align: center;
  margin-top: 4em;
}

.head-p {
  text-align: center;
  font-size: .825rem;
}

.btn-contain {
  max-width: 540px;
  margin-bottom: 6em;
}

/* Footer CSS Start */
.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: .825rem;
  font-weight: 600;
  line-height: .5;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}